<div class="container m-4">
<%= simple_form_for(@restaurant) do |f| %>
  <div class="form-group">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :category %>
    <%= f.submit %>
   <% end %>
 </div>
</div>
